@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">CollabFast is a collaperation app for all your project needs.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            CollabFast can be used for numerous projects, big, or small. No matter the size, or scope,
            you can use this app for the whole duration. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more out of your memebers</h2>
        <p>CollabFast is design to direct your team members where the need to go, and what they need to do. 
           If you are a team member, easily share documents, and complete tasks for your project.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Calendars.</h2>
        <p>Plan deadlines, see upcoming presentations, and whatever else you need to schedule with collabFast.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>